@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,700");
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.flex {
  display: flex; }

.flex-center {
  display: flex;
  align-items: center; }

.flex-start {
  display: flex;
  align-items: flex-start; }

.flex-end {
  display: flex;
  align-items: flex-end; }

.no-margin {
  margin: 0; }

.head-margin {
  margin-bottom: 15px; }

.p-margin {
  margin-bottom: 8px; }

.no-padding {
  padding: 0; }

.pad-all {
  padding: 20px; }

.pad-all-n {
  padding: 17px; }

.pad-horizontal {
  padding-left: 20px;
  padding-right: 20px; }

.pad-vertical {
  padding-top: 20px;
  padding-bottom: 20px; }

.space-up-b {
  margin-top: 61px; }

.space-down-b {
  margin-bottom: 61px; }

.space-up-n {
  margin-top: 51px; }

.space-down-n {
  margin-bottom: 51px; }

.space-up-m {
  margin-top: 31px; }

.space-down-m {
  margin-bottom: 31px; }

.space-up-l {
  margin-top: 21px; }

.space-down-l {
  margin-bottom: 21px; }

p {
  font-size: 14px; }

.section_heading h1 {
  font-size: 44px;
  font-size: 2.75rem;
  line-height: 54px;
  color: inherit;
  font-style: normal;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.01em; }
.section_heading h2 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 38px;
  color: inherit;
  font-style: normal;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.01em; }
.section_heading h3 {
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 35px;
  color: inherit;
  font-style: normal;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.04em; }
.section_heading h4 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  color: inherit;
  font-style: normal;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase; }

.back_line {
  position: relative; }
  .back_line:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background-color: #e5e5e5;
    width: 100%; }
  .back_line h1 {
    z-index: 1;
    position: relative;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto; }
  .back_line h2 {
    z-index: 1;
    position: relative;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto; }
  .back_line h3 {
    z-index: 1;
    position: relative;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto; }
  .back_line h4 {
    z-index: 1;
    position: relative;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto; }
  .back_line h5 {
    z-index: 1;
    position: relative;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto; }
  .back_line h6 {
    z-index: 1;
    position: relative;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto; }

.bottom_line {
  position: relative; }
  .bottom_line:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: translateY(-100%);
    width: 32px;
    height: 3px;
    background-color: #c3d1d1; }

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #363b3e; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*# sourceMappingURL=app.css.map */
