.hero {
	background-image: url('../images/hero-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	height: 100vh;
	max-height: 587px;
}

.boxes {
    position: relative;
    margin-top: -148px;

    .box {
		padding: 35px;
		min-height: 380px;
		position: relative;
		transition: .2s;

		&:hover {
  			box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.4);
  			transition: .2s;
		}

		.box-link {
			position: absolute;
		    bottom: 45px;
		    left: 50%;
		    margin-left: -88px;
		    z-index: 10;
		}
	}

}

.box-heading {
	font-size: 25px;
	font-weight: 600
}

.sec {
	padding: 65px 0;
	border-bottom: 1px solid #ededee;

	h1 {
		margin-bottom: 16px;
	}


	.box {
		padding: 20px 25px;
	}

	.box-heading {
		margin-bottom: 14px;
	}
}

.features-home {
	.feature {
		margin-bottom: 80px;

		&.mb-0 {
			margin-bottom: 0;
		}
	}
}

.speciality-home {

	h1 {
		margin-bottom: 40px;
		margin-top: 0;
	}

	.speciality-list {
		max-width: 260px;
		line-height: 31px;
	}

	.bordered:before {
	    position: absolute;
	    background-color: #e5e5e6;
	    height: 100%;
	    max-height: 480px;
	    width: 1px;
	    left: 50%;
	}

	.appointment-btn {
		max-width: 185px;
		text-align: center;
		margin-top: 35px;
	}
}