<div class="page-title-holder">
	<div class="container">
		<div class="row flex-center">
			<div class="col-sm-6">
				<h1 class="page-title no-margin c-white">About</h1>
			</div>

			<div class="col-sm-6">
				<ol class="breadcrumb no-margin text-right">
				  <li class="breadcrumb-item"><a href="/">Home</a></li>
				  <li class="breadcrumb-item active">About</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<main>
	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<h2 class="c-blue">Surfers Paradise Day and Night Medical Centre</h2>
				<p>For 20 years Day and Night medical centre has been a beacon of health management, providing quality Gold Coast medical services throughout the region with its unique extended operating hours. Both of our Gold Coast medical centres are opened providing you with medical help when you need it.</p>
				<h2 class="c-blue">We are an Accredited General Practice</h2>
				<p>Day Night medical centres adhere to the existing standards required by the Australian Government and are re-accredited every three years. This means that you get the best possible care available. We are entirely computerized, allowing us to maintain thorough and comprehensive medical records.</p>

				<h2 class="c-blue">We operate an appointment system and walk-ins including emergencies</h2>
				<p>Ensuring that in most cases you will be seen on the day without waiting too long. We understand your time is valuable, so we do not close or stop for lunch! While we cannot guarantee that everything runs on time, we do our best.</p>
				<p>To help us run on time, we can arrange longer appointments for special conditions such as surgical procedures, Implanon insertion/removal, mental health plans and health assessments. Simply tell our friendly receptionist what you feel you may require when you call for an appointment.</p>

				<h2 class="c-blue">Gold Coast Day and Night Medical Centre</h2>
				<p>At Day and Night Medical Centres, we have a Pathology Lab, Allied Health Team, Psychologist and Practice Nursing Staff who are trained in specialized care, wound care, burns, immunisations, female health and PAP smears, as well as complex disease management.</p>
				<p>Additionally, we are an accredited Yellow Fever Vaccination Centre in Queensland, and we are also part of Travel Clinics Australia.</p>
			</div>
		</div>
	</div>
</main>