<div class="page-title-holder">
	<div class="container">
		<div class="row flex-center">
			<div class="col-sm-6">
				<h1 class="page-title no-margin c-white">Our Doctors</h1>
			</div>

			<div class="col-sm-6">
				<ol class="breadcrumb no-margin text-right">
				  <li class="breadcrumb-item"><a href="/">Home</a></li>
				  <li class="breadcrumb-item active">Our Doctors</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<main>
	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<h2 class="c-blue">Qualified Gold Coast Doctors and Nurses ready to serve you!</h2>
				<p>Surfers Paradise Medical Centre and Varsity Lakes Medical Centre have a number of qualified Gold Coast doctors and nurses who are here to provide you with the best quality care. Our Gold Coast doctors also maintain individual re-accreditation every 3 years, helping to keep up with the latest information in the medical industry.</p>
			</div>
		</div>
		<div class="row">

			<div class="col-sm-12">
				<ul class="list-inline doctor-list">
					<li class="col-sm-3"><a href="/dr-tariq" class="shadow"><span class="fs-18"><i class="fa fa-chevron-right" aria-hidden="true"></i> Dr. Tariq Hayat Jamaldini</span><br>General Practitioners</a></li>
					<li class="col-sm-3"><a href="#" class="shadow"><span class="fs-18"><i class="fa fa-chevron-right" aria-hidden="true"></i> Dr. Deepak Doshi</span><br>General Practitioners</a></li>
					<li class="col-sm-3"><a href="#" class="shadow"><span class="fs-18"><i class="fa fa-chevron-right" aria-hidden="true"></i> Dr. Inayatullah Rind</span><br>General Practitioners</a></li>
					<li class="col-sm-3"><a href="#" class="shadow"><span class="fs-18"><i class="fa fa-chevron-right" aria-hidden="true"></i> Dr. Adel Habib</span><br>General Practitioners</a></li>
					<li class="col-sm-3"><a href="#" class="shadow"><span class="fs-18"><i class="fa fa-chevron-right" aria-hidden="true"></i> Dr. Michael Shann Wilson</span><br>General Practitioners</a></li>
					<li class="col-sm-3"><a href="#" class="shadow"><span class="fs-18"><i class="fa fa-chevron-right" aria-hidden="true"></i> Dr. Tariq Haya Jamaldini</span><br>General Practitioners</a></li>
					<li class="col-sm-3"><a href="#" class="shadow"><span class="fs-18"><i class="fa fa-chevron-right" aria-hidden="true"></i> Dr. Deepak Doshi</span><br>General Practitioners</a></li>
					<li class="col-sm-3"><a href="#" class="shadow"><span class="fs-18"><i class="fa fa-chevron-right" aria-hidden="true"></i> Dr. Inayatullah Rind</span><br>General Practitioners</a></li>
					<li class="col-sm-3"><a href="#" class="shadow"><span class="fs-18"><i class="fa fa-chevron-right" aria-hidden="true"></i> Dr. Adel Habib</span><br>General Practitioners</a></li>
					<li class="col-sm-3"><a href="#" class="shadow"><span class="fs-18"><i class="fa fa-chevron-right" aria-hidden="true"></i> Dr. Michael Shann Wilson</span><br>General Practitioners</a></li>
				</ul>
			</div>

		</div>
	</div>
</main>