<div class="page-title-holder">
	<div class="container">
		<div class="row flex-center">
			<div class="col-sm-6">
				<h1 class="page-title no-margin c-white">Our Doctors</h1>
			</div>

			<div class="col-sm-6">
				<ol class="breadcrumb no-margin text-right">
				  <li class="breadcrumb-item"><a href="/">Home</a></li>
				  <li class="breadcrumb-item active">Our Doctors</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<main>
	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<h2 class="c-blue">Dr. Tariq Hayat Jamaldini</h2>
				<p>General Practitioner Specialist and Cosmetic Physician with wonderfully caring and compassionate nature. With over 15 years of vast clinical experience, Dr. Tariq Hayat Jamaldini completed his training in Sydney and moved to the Gold Coast in 2008. He has special interests in general, geriatric &amp; pediatric medicine as well as chronic disease management and skin cancer.</p>
				<p>He also has a keen interest in all aspects of cosmetic medicine, which include anti-wrinkles injections, dermal fillers, full face rejuvenation, non-surgical facelift, and all lasers and light- based facial treatments.</p>
			</div>
		</div>
	</div>
</main>