<div class="hero">
	<div class="container">
		<div class="row flex-center">
			<div class="col-sm-7">
				<h2>Healthcare at Right Time and Right Place being Simple as Always</h2>
				<p class="mb-80">Get the treatment you and your family deserve without ever leaving home.</p>

				<ul class="list-inline">
					<li><a href="" class="rounded-btn outline-white c-white">Our Doctors</a></li>
					<li><a href="" class="rounded-btn blue-btn c-white">Our Services</a></li>
				</ul>
			</div>

			<div class="col-sm-5">
				<img src="/images/doctor.png" class="img-responsive pull-right">
			</div>
		</div>
	</div>
</div>

<div class="boxes">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="box shadow">
					<div class="icon">
						<img src="/images/time-icon.png" class="img-responsive center">
					</div>
					<div class="box-heading">
						<h3 class="text-center c-blue">Timings</h3>
					</div>
					<p class="text-center"><span class="c-p-black fs-18">Varsity Lake</span><br>Mon - Fri 9:00am - 5:00pm</p>
					<p class="text-center"><span class="c-p-black fs-18">Surfers Paradise</span><br>Mon - Sun 11:00am - 7:00pm</p>
					<div class="text-center box-link">
						<a href="" class="rounded-btn outline-blue">Read More</a>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="box shadow">
					<div class="icon">
						<img src="/images/location-icon.png" class="img-responsive center">
					</div>
					<div class="box-heading">
						<h3 class="text-center c-blue">Locations</h3>
					</div>
					<p class="text-center">We are an Accredited General Practice which gets you the best possible care from the best places available throughout the region. </p>
					<div class="text-center box-link">
						<a href="" class="rounded-btn outline-blue">Read More</a>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="box shadow">
					<div class="icon">
						<img src="/images/appointment-icon.png" class="img-responsive center">
					</div>
					<div class="box-heading">
						<h3 class="text-center c-blue">Appointments</h3>
					</div>
					<p class="text-center">Book an appointment at one of our Medical Centre now and get the treatment you and your family deserve.</p>
					<div class="text-center box-link">
						<a href="" class="rounded-btn outline-blue">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="centre-home sec">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h1 class="c-p-black">Day Night Medical Centres</h1>
				<p class="mb-40">For 20 years Day and Night medical centre has been a beacon of health management, providing quality Gold Coast medical services through-out the region with its unique extended operating hours. Both of our Gold Coast medical centres are opened providing you with medical help when you need it.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="box shadow">
					<div class="box-heading">
						<h3 class="c-p-black no-margin">Surfers Paradise</h3>
					</div>
					<p>Book and find appointment times at our Surfers Paradise Medical Centre. Call 07 5592 2299</p>
					<div class="text-center box-link">
						<a href="" class="blue-btn c-white text-uppercase appointment-btn">Book Appointment</a>
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="box shadow">
					<div class="box-heading">
						<h3 class="c-p-black no-margin">Varsity Lakes</h3>
					</div>
					<p>Book and find appointment times at our Varsity Lakes Medical Centre Call 07 5580 8628</p>
					<div class="text-center box-link">
						<a href="" class="blue-btn c-white text-uppercase appointment-btn">Book Appointment</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="features-home sec">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center feature">
				<h1 class="c-p-black">What you can get from us?</h1>
				<p class="mb-40">We have a strong focus on pro active healthcare. We have programs that focus on the early diagnosis and management of chronic conditions to improve the quality of life for the people affected by it. If you know that you have a chronic condition and you are not yet on a management plan, speak to your doctor about the benefits that a management plan may have for you.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-5 col-sm-offset-1 text-center feature">
				<div class="icon">
					<img src="/images/billing.png" class="img-responsive center">
				</div>
				<h3 class="c-p-black">Bulk Billing Walkin Clinic</h3>
				<p>Bulk Bill (conditions apply), Guarenteed same day appointments, minimum waiting times, men, women and children’s health, international student concession fee.</p>
			</div>

			<div class="col-sm-5 text-center feature">
				<div class="icon">
					<img src="/images/doctor-icon.png" class="img-responsive center">
				</div>
				<h3 class="c-p-black">Qualified Doctors</h3>
				<p>Our qualified doctors and nurses on the Gold Coast who are here to provide you with the best quality care. Our doctors also maintain individual re-accreditation every 3 years.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-5 col-sm-offset-1 text-center mb-0 feature">
				<div class="icon">
					<img src="/images/parking.png" class="img-responsive center">
				</div>
				<h3 class="c-p-black">Medical Centre Free Parking</h3>
				<p>Free Parking available to all our valued clients. Please speak with reception about getting your ticket validated. Parking is available in the Piazza complex entry next to Mantra Hotel.</p>
			</div>

			<div class="col-sm-5 text-center mb-0 feature">
				<div class="icon">
					<img src="/images/nurse.png" class="img-responsive center">
				</div>
				<h3 class="c-p-black">Nursing Home Visits</h3>
				<p>Day Night Medical Centres offers a new service – Nursing Home Visits. For more information please use the <a href="#" class="c-blue">contact form</a> for more information or give us a call.</p>
			</div>
		</div>
	</div>
</div>

<div class="speciality-home sec">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h1 class="c-p-black mb-40">Avail the best services we provide</h1>
			</div>
		</div>

		<div class="row bordered">
			<div class="col-sm-4 col-sm-offset-1">
				<h3 class="c-p-black text-center mb-40">General Medical Services</h3>
				<ul class="center speciality-list">
					<li>Men & Women's Health</li>
					<li>Child & Adolescent</li>
					<li>Mental Health Services</li>
					<li>Immunisation</li>
					<li>After Hours Care</li>
					<li>Allied Health Services</li>
					<li>Pregnancy & Antenatal Care</li>
					<li>Elderly & Geriatrics Health</li>
					<li>Travel Vaccinations</li>
					<li>Sexual Health Checks</li>
				</ul>

				<a href="" class="blue-btn c-white text-uppercase center appointment-btn">Book Appointment</a>
			</div>

			<div class="col-sm-4 col-sm-offset-2">
				<h3 class="c-blue text-center mb-40">Specialised Medical Services</h3>
				<ul class="c-blue center speciality-list">
					<li>Work Cover</li>
					<li>Skin Cancer Clinic</li>
					<li>Pre-Employment Medical</li>
					<li>Medical Certificates</li>
					<li>Medical Reports</li>
					<li>Disability & Insurance</li>
					<li>Cosmetic Medical Clinic</li>
					<li>Methadone Clinic</li>
					<li>Specialist Referrals</li>
					&nbsp;
				</ul>

				<a href="" class="blue-btn c-white text-uppercase center appointment-btn">Book Appointment</a>
			</div>
		</div>
	</div>
</div>