<div class="page-title-holder">
	<div class="container">
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h1 class="page-title">Our Clinics</h1>
					</div>

					<div class="col-sm-6">
						<ol class="breadcrumb text-right">
						  <li class="breadcrumb-item"><a href="#">Home</a></li>
						  <li class="breadcrumb-item active">Our Clinics</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<main>
	<div class="container">
		<div class="row">

			<div class="col-sm-4">
				<div class="widget">
					<div class="widget-title">
						<h3>Locations</h3>
					</div>
					<div class="widget-body">
						<p><span class="c-p-black fs-18">Varsity Lake</span><br>To Book Call <a href="tel:07 5580 8628">07 5580 8628</a></p>
						<p><span class="c-p-black fs-18">Surfers Paradise</span><br>To Book Call <a href="tel:07 5580 8628">07 5592 2299</a></p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="widget">
					<div class="widget-title">
						<h3 class="icon-heading"><img src="/images/location-icon.jpg" class="img-responsive"> Map</h3>
					</div>
					<div class="widget-body">
						google map
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="widget">
					<div class="widget-title">
						<h3 class="icon-heading"><img src="/images/time-icon.jpg" class="img-responsive"> Timings</h3>
					</div>
					<div class="widget-body">
						<p><span class="c-p-black fs-18">Varsity Lake</span><br>To Book Call <a href="tel:07 5580 8628">07 5580 8628</a></p>
						<p><span class="c-p-black fs-18">Surfers Paradise</span><br>To Book Call <a href="tel:07 5580 8628">07 5592 2299</a></p>
					</div>
				</div>

				<div class="widget">
					<div class="widget-title">
						<h3 class="icon-heading"><img src="/images/location-icon.jpg" class="img-responsive"> Address</h3>
					</div>
					<div class="widget-body">
						<h4 class="c-blue">Varsity Lakes</h4>
						<p>Suite 3B, 191 Varsity Parade, Varsity Lakes QLD 4227</p>
						<p>Free Parking: Patients park undercover for free. Parking entry is on Varsity Parade.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</main>