<div class="page-title-holder">
	<div class="container">
		<div class="row flex-center res_flex">
			<div class="col-sm-6">
				<h1 class="page-title no-margin c-white">Our Clinics</h1>
			</div>

			<div class="col-sm-6">
				<ol class="breadcrumb no-margin text-right">
				  <li class="breadcrumb-item"><a href="/">Home</a></li>
				  <li class="breadcrumb-item active">Our Clinics</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<main>
	<div class="container">
		<div class="row">

			<div class="col-sm-4">
				<div class="widget shadow">
					<div class="widget-title">
						<h3>Locations</h3>
					</div>
					<div class="widget-body">
						<p><span class="c-p-black fs-18"><a href="/our-clinics"><i class="fa fa-chevron-right" aria-hidden="true"></i> Varsity Lake</a></span><br>To Book Call 07 5580 8628</p>
						<p><span class="c-p-black fs-18"><a href="/our-clinics-2"><i class="fa fa-chevron-right" aria-hidden="true"></i> Surfers Paradise</a></span><br>To Book Call 07 5592 2299</p>

						<a href="" class="blue-btn c-white text-uppercase center appointment-btn">Book Appointment</a>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="widget shadow">
					<div class="widget-title">
						<h3 class="icon-heading"><img src="/images/location-icon.png" class="img-responsive"> Map</h3>
					</div>
					<div class="widget-body">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3520.2267199029557!2d153.41101731555625!3d-28.07862644959614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b910342f8025e01%3A0x82895d2d01427c06!2s3b%2F191+Varsity+Parade%2C+Varsity+Lakes+QLD+4227%2C+Australia!5e0!3m2!1sen!2s!4v1487317060144" width="100%" height="528" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="widget shadow">
					<div class="widget-title">
						<h3 class="icon-heading"><img src="/images/time-icon.png" class="img-responsive"> Timings</h3>
					</div>
					<div class="widget-body">
						<h4 class="c-blue widget-heading">Varsity Lakes</h4>
						<ul class="list-unstyled timings">
			              <li>Mon: 09:00 am - 5:00 pm</li>
			              <li>Tue: 09:00 am - 5:00 pm</li>
			              <li>Wed: 09:00 am - 5:00 pm</li>
			              <li>Thu: 09:00 am - 5:00 pm</li>
			              <li>Fri: 09:00 am - 5:00 pm</li>
			              <li>Sat: Closed</li>
			              <li>Sun: Closed </li>
			            </ul>
					</div>
				</div>

				<div class="widget shadow">
					<div class="widget-title">
						<h3 class="icon-heading"><img src="/images/location-icon.png" class="img-responsive"> Address</h3>
					</div>
					<div class="widget-body">
						<h4 class="widget-heading c-blue">Varsity Lakes</h4>
						<p>Suite 3B, 191 Varsity Parade, Varsity Lakes QLD 4227</p>
						<p>Free Parking: Patients park undercover for free. Parking entry is on Varsity Parade.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</main>