<div class="page-title-holder">
	<div class="container">
		<div class="row flex-center res_flex">
			<div class="col-sm-6">
				<h1 class="page-title no-margin c-white">Our Clinics</h1>
			</div>

			<div class="col-sm-6">
				<ol class="breadcrumb no-margin text-right">
				  <li class="breadcrumb-item"><a href="/">Home</a></li>
				  <li class="breadcrumb-item active">Our Clinics</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<main>
	<div class="container">
		<div class="row">

			<div class="col-sm-4">
				<div class="widget shadow">
					<div class="widget-title">
						<h3>Locations</h3>
					</div>
					<div class="widget-body">
						<p><span class="c-p-black fs-18"><a href="/our-clinics">Varsity Lake</a></span><br>To Book Call 07 5580 8628</p>
						<p><span class="c-p-black fs-18"><a href="/our-clinics-2">Surfers Paradise</a></span><br>To Book Call 07 5592 2299</p>

						<a href="" class="blue-btn c-white text-uppercase center appointment-btn">Book Appointment</a>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="widget shadow">
					<div class="widget-title">
						<h3 class="icon-heading"><img src="/images/location-icon.png" class="img-responsive"> Map</h3>
					</div>
					<div class="widget-body">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3522.866985310898!2d153.42674951556407!3d-27.997965682672465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b910572204615c3%3A0x312764966698da1a!2sSurfers+Paradise+Day+%26+Night+Medical+Centre!5e0!3m2!1sen!2s!4v1487329628840" width="100%" height="528" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="widget shadow">
					<div class="widget-title">
						<h3 class="icon-heading"><img src="/images/time-icon.png" class="img-responsive"> Timings</h3>
					</div>
					<div class="widget-body">
						<h4 class="c-blue widget-heading">Surfers Paradise</h4>
						<ul class="list-unstyled timings">
			              <li>Mon: 07:00 am - 11:00 pm</li>
			              <li>Tue: 07:00 am - 11:00 pm</li>
			              <li>Wed: 07:00 am - 11:00 pm</li>
			              <li>Thu: 07:00 am - 11:00 pm</li>
			              <li>Fri: 07:00 am - 11:00 pm</li>
			              <li>Sat: 07:00 am - 11:00 pm</li>
			              <li>Sun: 07:00 am - 11:00 pm</li>
			            </ul>
					</div>
				</div>

				<div class="widget shadow">
					<div class="widget-title">
						<h3 class="icon-heading"><img src="/images/location-icon.png" class="img-responsive"> Address</h3>
					</div>
					<div class="widget-body">
						<h4 class="widget-heading c-blue">Surfers Paradise</h4>
						<p>Surfers Paradise 16/3221 Surfers Paradise Blvd, Surfers Paradise</p>
						<p>Free Parking: Patients park undercover for free. Parking entry is on Varsity Parade.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</main>