// color
$blue 			: #3195d6;
$light-white	: #f4f8f9;
$gray   		: #878990;
$black  		: #4f5057;

// fonts
$proxima: "proxima-nova", sans-serif;

body {
	font-family: $proxima;
	color: $gray;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
}

a {
	color: $gray;
	transition: .2s;

	&:hover {
		text-decoration: none;
		transition: .2s;
	}
}

.shadow {
  border-style: solid;
  border-width: 1px;
  border-color: #ededee;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}

.center {
	margin: 0 auto;
}

.outline-white {
    border: 2px solid #fff;
    transition: .2s;
    &:hover {
    	background-color: $light-white;
		border: 2px solid $light-white;
		text-decoration: none;
		transition: .2s;
    }
}

.outline-blue {
    border: 2px solid $blue;
    transition: .2s;
    color: $blue;
    &:hover {
    	background-color: $blue;
		text-decoration: none;
		transition: .2s;
		color: #fff;
    }
}

.rounded-btn {
    padding: 10px 48px;
    border-radius: 25px;
}

.blue-btn {
	background-color: $blue;
	border: 2px solid $blue;

	&:hover {
		background-color: $light-white;
		border: 2px solid $light-white;
		text-decoration: none;
		transition: .2s;
	}
}

// color

.c-blue {
	color: $blue;
}

.c-white {
	color: #fff;
}

.c-black {
	color: $black;
}

.c-p-black {
	color: #000;
}


.appointment-btn {
	width: 100%;
	padding: 10px;
	font-size: 15px;
	display: block;
	transition: .2s;

	&:hover {
		border: 2px solid $blue;
		color: $blue;
		text-decoration: none;
		transition: .2s;
	}
}



// functions
// for converting px to em
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1em;
}

// mixins
// for circles
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
// for heading style back line
@mixin back-line-headings {
	z-index: 1;
    position: relative;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
// for giving widths
@mixin width($width) {
	width: $width;
}
// for adding font size and color
@mixin style($font-size, $color) {
	font-size: $font-size;
	font-size: calculateRem($font-size);
	line-height: $font-size + (10px);
	color: $color;
	font-style: normal;
}
// for transition
@mixin transition($args) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

//Headings

h1 {
	@include style(28px, inherit);
	font-family: $proxima;
	font-style: normal;
	font-weight: 600;
}


// general styles
.flex {
	display: flex;
}

.flex-center {
	display: flex;
	align-items: center;
}

.flex-start {
	display: flex;
	align-items: flex-start;
}

.flex-end {
	display: flex;
	align-items: flex-end;
}

// general spacings
.no-margin {
	margin: 0;
}

.head-margin {
	margin-bottom: 15px;
}

.p-margin {
	margin-bottom: 8px;
}

.no-padding {
	padding: 0;
}

.pad-all {
	padding: 20px;
}

.pad-all-n {
	padding: 17px;
}

.pad-horizontal {
	padding-left: 20px;
	padding-right: 20px;
}

.pad-vertical {
	padding-top: 20px;
	padding-bottom: 20px;
}

.space-up-b {
	margin-top: 61px;
}

.space-down-b {
	margin-bottom: 61px;
}

.space-up-n {
	margin-top: 51px;
}

.space-down-n {
	margin-bottom: 51px;
}

.space-up-m {
	margin-top: 31px;
}

.space-down-m {
	margin-bottom: 31px;
}

.space-up-l {
	margin-top: 21px;
}

.space-down-l {
	margin-bottom: 21px;
}

// paragraph
p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

// heading styles
.section_heading {
	h1 {
		@include style(28px, inherit);
		font-family: $proxima;
		font-style: normal;
		font-weight: 800;
	}
	h2 {
		@include style(28px, inherit);
		font-family: $proxima;
		font-style: normal;
		font-weight: 800;
	}
	h3 {
		@include style(25px, inherit);
		font-family: $proxima;
		font-style: normal;
		font-weight: 800;
	}
	h4 {
		@include style(14px, inherit);
		font-family: $proxima;
		font-style: normal;
	}
}
.back_line {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 1px;
		background-color: #e5e5e5;
		width: 100%;
	}
	h1 {
		@include back-line-headings;
	}
	h2 {
		@include back-line-headings;
	}
	h3 {
		@include back-line-headings;
	}
	h4 {
		@include back-line-headings;
	}
	h5 {
		@include back-line-headings;
	}
	h6 {
		@include back-line-headings;
	}
}
.bottom_line {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		bottom: 0px;
		left: 0;
		transform: translateY(-100%);
		width: 32px;
		height: 3px;
		background-color: #c3d1d1;
	}
}

// divider
.divider {
	display: block;
	width: 100%;
	height: 1px;
	background-color: #363b3e;
}

.mb-40 {
	margin-bottom: 40px;
}


.mb-80 {
	margin-bottom: 60px;
}

footer {
	background-color: $light-white;
	border-top: 1px solid $gray;
}