// footer
#footer_sec {
	p {
		@include style(14px, #afb0b2);
		font-family: $os;
	}
	.primary_ft {
		background-color: #2b3034;
		h4 {
			color: $white;
			height: 48px;
		}
		.media-body {
			vertical-align: middle;
			h5 {
				@include style(14px, #afb0b2);
				font-family: $mt;
				text-transform: capitalize;
			}
			p {
				@include style(13px, $white);
				font-family: $mt;
			}
		}
		.post_date {
			border: 2px solid #afb0b2;
			padding-top: 12px;
			padding-bottom: 12px;
			li {
				color: #afb0b2;
				font-family: $mt;
				&:first-child {
					@include style(18px, $white);
				}
				&:last-child {
					@include style(10px, $white);
					text-transform: uppercase;
				}
			}
		}
		.pt_subscribe {
			.pt_email {
				@include style(14px, $black);
				display: inline-block;
				width: 100%;
				border: none;
				text-transform: initial;
				background-color: $white;
				border-radius: 0;
				height: 46px;
				padding-left: 15px;
				padding-right: 15px;
				font-family: $mt;
				&:focus {
					outline: none;
				}
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					@include style(12px, #777777);
					text-transform: uppercase;
					background-image: url('../img/email_icon.png');
					background-size: 20px 16px;
					background-repeat: no-repeat;
					padding-left: 28px;
					background-position: left center;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					@include style(12px, #777777);
					line-height: 46px;
					text-transform: uppercase;
					background-image: url('../img/email_icon.png');
					background-size: 20px 16px;
					background-repeat: no-repeat;
					background-position: right 15px center;
				}
				&:-moz-placeholder { /* Firefox 18- */
				 	@include style(12px, #777777);
					line-height: 46px;
					text-transform: uppercase;
					background-image: url('../img/email_icon.png');
					background-size: 20px 16px;
					background-repeat: no-repeat;
					background-position: right 15px center;
					opacity: 1;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					@include style(12px, #777777);
					line-height: 46px;
					text-transform: uppercase;
					background-image: url('../img/email_icon.png');
					background-size: 20px 16px;
					background-repeat: no-repeat;
					background-position: right 15px center;
					opacity: 1;
				}
			}
			.pt_button {
				@extend .pt_email;
				background-color: $yellow;
				text-transform: uppercase;
				@include transition(background .3s ease);
				&:hover {
					text-decoration: none;
					background-color: lighten($yellow, 15%);
					@include transition(background .3s ease);
				}
			}
		}
	}
	.secondary_ft {
		background-color: $yellow;
		.copyright_ft {
			p {
				@include style(14px, $black);
				font-family: $os;

				a{
					@include style(14px, #a24405);
					font-family: $os;
					font-weight: 700;
					text-decoration: none;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		.ft_nav {
			li {
				padding: 0;
				margin: 0;
				&:after {
					content: ':';
					margin-left: 10px;
					margin-right: 5px;
				}
				&:nth-last-child(1) {
					&:after {
						content: '';
					}
					a:hover {
						color: #3b5998;
					}
				}
				&:nth-last-child(2) {
					&:after {
						content: '';
					}
				}
				a {
					@include style(12px, $black);
					font-family: $os;
					text-transform: uppercase;
					line-height: 24px;
					text-decoration: none;
					@include transition(color .3s);
					&:hover {
						text-decoration: none;
						@include transition(color .3s);
					}
				}
			}
		}
	}
}