#projects_sec {
	h3 {
		text-transform: uppercase;
		@include width(220px);
	}
}

.project_box {
	.img_215_1 {
		height: 215px;
		background-size: cover;
		background-position: center center; 
	}
	.img_215_2 {
		height: 215px;
		background-size: cover;
		background-position: center center; 
	}
	.img_215_3 {
		height: 215px;
		background-size: cover;
		background-position: center center; 
	}
	.project_content {
		background-color: #f7f7f7;
		h5 {
			@include style(12px, #6f6f6f);
			font-family: $os;
			text-transform: uppercase;
		}
		h3 {
			text-transform: capitalize;
		}
		p {
			@include style(14px, #6f6f6f);
			font-family: $os;
		}
	}
	.project_button {
		a {
			@include style(15px, $black);
			font-family: $os;
			text-transform: uppercase;
			display: block;
			text-decoration: none;
			background-color: $yellow;
			@include transition(background .3s ease);
			&:hover {
				text-decoration: none;
				background-color: lighten($yellow, 15%);
				@include transition(background .3s ease);
			}
		}
	}
}